* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}
.test {
  color: red;
}
footer {
  position: "absolute";
  margin-top: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.MuiContainer-root .MuiContainer-maxWidthLg {
  /* @media (min-width: 1280px) {
    .MuiContainer-maxWidth {
      max-width: 1500px !important;
    }
  } */
}
footer p {
  color: #ccc;
}

button:focus {
  outline: 0px !important;
}
